header {
    background-color: rgb(82, 82, 82);
    height: 100px;
    padding: 20px;
    font-size: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: aquamarine;
    position: fixed;
    right: 0;
    width: 10rem;
    height: 100vh;
    top: 0;
}

.menu.active {
    display: flex;
}