.about__section {
    background-color: rgb(210, 206, 240);
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__title {
    font-size: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.about__paragraph {
    line-height: 1.5rem;
}