footer {
    background-color: rgb(21, 21, 54);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 40px;
}

.footer__copyright {
    font-weight: 300;
}

.footer_info {
    font-weight: 500;
}