.header {
    background-color: transparent ;
    height: 75px;
    width: 100vw;
    padding: 20px;
    padding-right: 40px;
    font-size: 2rem;
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease;
}

.header.scrolled {
    background-color: #08051a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 1.8rem;
    color: #4E6EFF;
    text-shadow: 
        0 0 1px #4E6EFF,
        0 0 9px #4E6EFF,
        0 0 9px #A66CFF;
    animation: clignoter 1s infinite alternate;
    transition: 0.3s;
}

.header__logo:hover {
    color: #8da2ff;
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav {
    display: none;
}

#burger {
    color: #4E6EFF;
    transition: 0.6s;
    text-shadow: 
        0 0 1px #4E6EFF,
        0 0 9px #4E6EFF,
        0 0 9px #A66CFF;
}

#burger:hover {
    color: #dbdeeb;
}

@media (min-width: 900px) {
    nav {
        display: flex;
        margin-left: auto;
    }

    .nav__list {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        font-size: 1.1rem;
        margin-left: auto;
        gap: 20px;
        color: #4E6EFF;
        text-shadow: 
            0 0 1px #4E6EFF,
            0 0 9px #4E6EFF,
            0 0 9px #A66CFF;
    }

    .nav__list > li {
        transition: 0.2s ease;
    }
    
    .nav__list > li:hover {
        color: #dbdeeb;
        transform: translateY(-1.5px);
    }

    #burger {
        display: none;
    }
}

/* menu burger */
.menu {
    display: flex;
    flex-direction: column;
    background-color: #08051a;
    position: fixed;
    padding: 20px;
    right: 0;
    width: 350px;
    height: 100vh;
    top: 0;
    transition: transform 0.6s ease;
    transform: translateX(100%); /* Le menu est caché à droite */
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menu.active {
    transform: translateX(0);
}

@media (max-width: 350px) {
    .menu {
        width: 100%;
    }
}

#xmark-close-menu {
    margin-left: auto;
    font-size: 3rem;
    color: #4E6EFF;
    transition: 0.6s;
    text-shadow: 
        0 0 1px #4E6EFF,
        0 0 9px #4E6EFF,
        0 0 9px #A66CFF;
}

#xmark-close-menu:hover {
    color: #dbdeeb;
}

.menu__list-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.menu__list-container > ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    color: #dbdeeb;
    font-size: 1.4rem;
}

.menu__list-container > ul > li {
    transition: 0.2s ease;
    text-shadow: 
            0 0 1px #4E6EFF,
            0 0 9px #4E6EFF,
            0 0 9px #A66CFF;
}

.menu__list-container > ul > li:hover {
    text-shadow: 
        0 0 1px #4E6EFF,
        0 0 9px #4E6EFF,
        0 0 9px #A66CFF;
    color: #876cff;
    transform: translateY(-1.5px);
}

/* fin menu burger */