.profile__section {
    min-height: 100vh;
    background-image: url('../img/bg/night-city-background.jpeg'); /* Remplace par le chemin de ton image */
    background-size: cover; /* Ajuste l'image pour couvrir toute la section */
    background-position: center; /* Centre l'image */
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
}

.profile__section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.profile__section.scrolled::before {
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;
}

#main-picture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border: 3px solid #4E6EFF;
    box-shadow: 0 0 4px #4E6EFF, 0 0 15px #4E6EFF, 0 0 15px #A66CFF;
}

@media  (max-width: 420px) {
    #main-picture {
        width: 200px;
        height: 200px;
    }
}

@media  (max-height: 750px) {
    #main-picture {
        width: 150px;
        height: 150px;
    }
}

.profile__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 70px;
    position: relative;
    z-index: 2;
    color: #ecedff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.profile__pre-name {
    font-size: 1rem;
}

.profile__name {
    font-size: 2rem;
    color: #b9c6ff;
    text-shadow: 
        0 0 1px #4E6EFF,
        0 0 6px #4E6EFF,
        0 0 9px #A66CFF;
}

.profile__title {
    font-size: 1.2rem;
}

.profile__description {
    font-size: 1rem;
    line-height: 1.4;
    color: #e7e8f5;
    font-weight: 400;
}

.profile__description > span {
    color: #b9c6ff;
    text-shadow: 0 0 1px #4E6EFF, 0 0 6px #4E6EFF, 0 0 9px #A66CFF;
}

.profile__status {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.4;
}

.download-cv__button {
    background: none;
    width: fit-content;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 0.9rem;
    margin-top: 1rem;
    border: 2px solid white;
    transition: 0.6s;
}

.download-cv__button:hover {
    border: 2px solid #4e86ff;
    color: #4e86ff;
    text-shadow: 0 0 1px #4E6EFF, 0 0 6px #4E6EFF, 0 0 9px #A66CFF;
    transform: scale(1.05);
    background: #4e86ff44;
}

@media  (min-width: 1000px) {
    .profile__content {
        flex-direction: row;
        gap: 50px;
    }

    .profile__info {
        padding-top: 20px;
    }

    .profile__pre-name {
        font-size: 1.2rem;
    }
    
    .profile__name {
        font-size: 2.8rem;
    }
    
    .profile__title {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    
    .profile__description {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    .download-cv__button {
        padding: 7px 30px;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}