.profile__section {
    min-height: 100vh;
    background-color: bisque;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

#main-picture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

@media  (max-width: 420px) {
    #main-picture {
        width: 200px;
        height: 200px;
    }
}

@media  (max-height: 800px) {
    #main-picture {
        width: 150px;
        height: 150px;
    }
}

.profile__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 70px;
}
.profile__pre-name {
    font-size: 1rem;
}

.profile__name {
    font-size: 2rem;
}

.profile__title {
    font-size: 1.2rem;
}

.profile__description {
    font-size: 1rem;
}

.profile__status {
    font-size: 0.8rem;
    font-style: italic;
}

.download-cv__button {
    background: none;
    width: fit-content;
    border-radius: 20px;
    padding: 7px 30px;
    font-size: 0.9rem;
    margin-top: 1rem;
}