.skills__section {
    background-color: #e2e8f0;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: relative;
    z-index: 8;
}

.skills__title {
    font-family: 'Righteous', sans-serif;
    font-size: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container__skill__category-title__desktop {
    display: none;
}

.skill__category-title {
    color: #4E6EFF;
    text-shadow: 0 0 1px #4E6EFF, 0 0 2px #4E6EFF, 0 0 4px #A66CFF;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgb(232, 241, 247);
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .skills__container:not(:last-child) {
        margin-bottom: 50px;
    }
}


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5px;
    gap: 15px;
    text-align: center;
}

.skill__logo {
    width: 84px;
    height: 84px;
    border-radius: 7px;
}

@media (min-width: 340px) {
    .skill__category-title {
        font-size: 1.2rem;
    }
}

@media (min-width: 400px) {
    .skill__category-title {
        font-size: 1.4rem;
    }
}

@media (min-width: 600px) {
    .skills__container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 800px) {
    .skills__container {
        width: 750px;
    }

    .skill__logo {
        width: 105px;
        height: 105px;
    }
}


@media (min-width: 1000px) {
    .container__skill__category-title__desktop {
        display: flex;
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .skill__category-title__desktop {
        transition: 0.4s ease;
        font-size: 1.1rem;
        position: relative;
        display: inline-block;
    }

    /* --------- soulignement du titre lorsqu'il est sélectionné --------- */
    .skill__category-title__desktop::after { 
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
        background-color: #4E6EFF;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
        box-shadow: 0 0 4px rgba(78, 110, 255, 0.5), 0 0 8px rgba(78, 110, 255, 0.3);

    }

    .skill__category-title__desktop.active-title::after {
        transform: scaleX(1);
    }
    /* --------- fin soulignement --------- */

    .skill__category-title__desktop:hover {
        color: #dbdeeb;
        cursor: pointer;
        transform: translateY(-1.5px);
    }

    .skill__category-title__mobile {
        display: none;
    }

    .skills__container {
        display: none;
    }
    
    .skills__container.active {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .container__skill__category-title__desktop {
        width: 1100px;
    }

    .skill__category-title__desktop {
        font-size: 1.3rem;
    }
}