* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}

html {
	font-size: 16px;
    scroll-behavior: smooth;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.content {
    position: relative;
    z-index: 5;
    bottom: -100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
}