* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}

html {
	font-size: 16px;
    scroll-behavior: smooth;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.content {
    position: relative;
    z-index: 5;
    bottom: -100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/*

Fond sombre : Noir charbon ou gris très foncé (#121212 ou #1B1B2F) pour donner l’effet de la nuit.
Accent LED bleu : Bleu électrique (#4E6EFF) pour les éléments principaux (titres, boutons, etc.).
Accent rose néon : Rose vif (#FF4F81) pour les détails accrocheurs comme les liens ou les icônes.
Accent violet lumineux : Violet néon (#A66CFF) pour les éléments de support, ou des surbrillances de texte.
Neutre clair : Blanc doux (#F0F0F0) pour le texte principal pour assurer la lisibilité.